<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--如果需要引用额外的dll配置声明节点 请放开下面的注释-->
  <configSections>
    <section name="dllList" type="Sl.Bpm.Repository.Dto.DllConfigDto, Sl.Bpm.Repository" />
  </configSections>
  
  <appSettings>

    <!--开启AD登陆-->
    <add key="IsAdLogin" value="false" />
    <add key="AdPath" value="LDAP://WS-ZZDC-02.wicresoft.com/DC=wicresoft,DC=com" />

    <!--开启日志审计-->
    <add key="EnableAuditing" value="true" />
    <!--开启测试,切换账号按钮-->
    <add key="EnableTest" value="true" />
    <!--是否开启动态编译，从数据库中加载代码-->
    <add key="DynamicCompile" value="false" />

    <!--
        * FileStoreWay 两种文件存储方式 Ftp/Disk
        * 如果为Disk，可以配置默认的根路径，根路径可以为相对路径或绝对路径, 相对路径请以 "/"打头 会基于根目录自动存储
        * 如果为Ftp，请在AppEnterpriseSetting 表 插入 Ftp.Password、Ftp.Account、Ftp.Host 三条记录 GroupKey = 'File' 
          ** Ftp.Host 请配置为 ftp://xxx.xxx.xx:port/
        -->
    <!--<add key="FileStoreWay" value="Disk"/>
    <add key="DiskRootPath" value="/UploadDocs"/>-->
    <add key="CookieName" value =".wicresoft.com"/>
    <!--缓存时间配置-->
    <!--基础数据源缓存时间-->
    <add key="PAGE_BASICDATA_CACHE_TIME" value = "0" />
    <!--页面多语言缓存时间-->
    <add key="PAGE_LANGUAGE_CACHE_TIME" value = "0" />
    <!--节点权限缓存时间-->
    <add key="PAGE_NODERIGHT_CACHE_TIME" value = "0" />
    <!--页面定义缓存时间-->
    <add key="PAGE_INFO_CACHE_TIME" value = "0" />
    <!--流程节点缓存时间-->
    <add key="PAGE_WF_NODEACTION_CACHE_TIME" value = "0" />
    <!--视图查文本数据缓存时间-->
    <add key="PAGE_VIEW_CACHE_TIME" value = "0" />
    <!--流程同步缓存时间-->
    <add key="PAGE_WF_HEADER_CACHE_TIME" value = "0" />
    <!--代码编译检测缓存时间-->
    <add key="CACHE_CODE_COMPILE_TIME" value = "60" />
    <!--菜单权限刷新缓存时间-->
    <add key="CACHE_MENU_TIME" value = "60" />
    <!--配置缓存时间-->
    <add key="CACHE_CONFIG_TIME" value = "60" />
    <!--代码检测缓存时间-->
    <add key="CACHE_CODE_ITEM_TIME" value = "60" />

    
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="log4net.Config" value="Logger.log4net" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="DBType" value="SQL" />
    <add key="LoadBalance" value="false" />
    <add key="LoadBalanceCookiePath" value="\\BPMAPP01\BpmCookieShare" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--企业微信相关配置  开始-->
    <add key="AgentId" value="1000002" /> 
    <add key="BpmAppSecret" value="mruarGgGEdrm-2FT9x1zBW3tUNZDNJNQH_qpJju_3Ik" /> 
    <add key="CorpId" value="ww6a95780f6b827299" /> 
    <!--企业微信相关配置  结束-->
    
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source = .;Initial Catalog=a;Persist Security Info=true;User ID=sa;PWD=Test@123;Packet Size=4096;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->

  <!--/
  * 额外引用的dll配置 
  * 首先要释放开注释节点
  * 已添加过的程序集或dll将被忽略
  * 请严格区分大小写(包括 name path 及相应的值)
  * 引用的dll在bin目录且不属于系统程序集 如 <dllInfo name="Sl.Bpm.SapHelper.dll" path="bin"/>
  * 引用的dll名称为系统级程序集,不需要指定目录 如 <dllInfo name="System.Core.dll"/>
      <dllInfo name="Sl.Bpm.SapHelper1.dll" path="bin"/>-->
  <dllList>
    <!--<dllInfo name="Senparc.CO2NET.dll" path="bin" />
    <dllInfo name="Senparc.NeuChar.dll" path="bin" />
    <dllInfo name="Senparc.Weixin.dll" path="bin" />
    <dllInfo name="Senparc.Weixin.Work.dll" path="bin" />-->
    <dllInfo name="System.Configuration.dll" />
  </dllList>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="15370" />
    <customErrors mode="Off" defaultRedirect="Content/CustomErrors/default.htm">
      <error statusCode="403" redirect="Content/CustomErrors/403.htm"/>
      <error statusCode="404" redirect="Content/CustomErrors/404.htm"/>
    </customErrors>
    <machineKey decryptionKey="55EF25CC56B18ABC496ED471BF15C06FFA21089EAF4CD326" validationKey="9371713A364E7B7E21D3770CD2C58D6820C7D26513D64CDCAE6AFE2ED1E58F90A1D14BB5A1BEB4795239752D4E7E2D3D13BCE8D29518252A4C4CCEB912CA6178" />
    <!--    <authentication mode="Windows"/>-->
    <!--    <authorization>-->
    <!--        <deny users="?"/>-->
    <!--    </authorization>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type,authorization" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>