/.vs/Mc.DataSync/DesignTimeBuild/.dtbcache
/.vs/Mc.DataSync/v16/.suo
/.vs/Mc.DataSync/v16/Server/sqlite3/db.lock
/.vs/Mc.DataSync/v16/Server/sqlite3/storage.ide
/.vs/Mc.DataSync/v16/Server/sqlite3/storage.ide-shm
/.vs/Mc.DataSync/v16/Server/sqlite3/storage.ide-wal
/Mc.DataSync/bin
/Mc.DataSync/obj
/Mc.DataSync/App.config
