<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="Default" />
    <add key="IsDebug" value="false" />
  </appSettings>
  <connectionStrings>
    <!--开发环境-->
      <add name="Default" connectionString="Data Source = .;Initial Catalog=a;Persist Security Info=true;User ID=sa;PWD=Test@123;Packet Size=4096;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>